body{
    width: 1490px;
    height: 100vh;
    overflow: scroll;
}
/* .logo{ */
	/* LOGO*/
/* position: absolute; */
/* width: 10px; */
/* height: 10px; */
/* left: 13px; */
/* top: 10px; */
/* } */


.Vlabs{
	/* VLABS */

	position: absolute;  
	width: 82px;  
	height: 28px;  
	left: 75px;  
	top: 33px;  
	
	font-family: 'Poppins';  
	font-style: bold;  
	font-weight: 700;  
	font-size: 24px;  
	line-height: 28px;  
	
	color: #000000;  
	   
}

.User{
	/* Udbhav v Kamath */

	position: absolute;
	width: 222px;
	height: 34px;
	left: 1057px;
	top: 28px;
	
	font-family: 'Poppins';
	font-style: Bold;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	
	color: #000000;
}
.Signupbutton{
	/* Property 1=normal */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 14px;
gap: 10px;

position: absolute;
width: 100px;
height: 32px;
left: 1274px;
top: 33px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25);
border-radius: 6px;
}



.Lines{
position: absolute;
width: 1880px;
height: 0px;
left: -7px;
top: 84px;

border: 1px solid #000000;
transform: rotate(0.06deg);
}


.HEADING1{
	/* ASK Modulation and Demodulation */

          
position: absolute;
width: 900px;
height: 38px;
left: 484px;
top: 30px;

font-family: 'Poppins';
font-style: bold;
font-weight: 400;
font-size: 20px;
line-height: 38px;
/* identical to box height */


color: #000000;
}


 .switchRed{
     width: 30px;
     height: 26px;
     background-color: red;
     position: absolute;
     margin-top: 90px;
     margin-left: 50px;
     box-shadow: 0 10px 15px 0 rgba(255, 255, 255, 0.4); 
     border: double;
 }  

 .led{
     width: 10px;
     height: 6px;
     margin-left:10px;
     margin-top: 300px;
     position: absolute;

 }
 .switchRed p{
    margin-top: 10px;
    font-size: 18px;
 }
 .led img{
     width: 50px;
     height: 40px;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 50%;
     box-shadow: 0 12px 17px 0 rgba(19, 19, 19, 0.4); 
 }




/*UserInput*/

/*BACKGROUND IMAGE*/
.setup1{
	position: absolute;
	align-items: center;
	margin-top: 220px;
	margin-left:250px;
	height: 700px;
	width: 90px;
} 

.setup1 img{
	height: 340px;
	
}






.userInput{
	height: 200px;
 
  color: white;
  padding:0.5px ;
  border-radius: 5px;
  /* position:relative; */
  
}
.image{
	position: relative;
	height: 40px;
	top: 300px;
	left: 580px;
}



.togglepins{
	height: 20px;
	margin:auto;
	text-align: center;
	top: 900px;
}


.togglepins img{
	position: relative;
	padding:0.9px ;
	height: 66px;
	top: 225px;
	left:13px;
}
/*Run*/
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Sora:wght@200&display=swap');
.runButton{
	 width: 55px;
     height: 30px;
     position: relative;
     margin-left: -300px;
     top: 400px;
	background-color: #A7D129;
	border:4px double #3E2C41;
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);

    font-family:Allan;
    color: black;
    font-style: bold;
}
.runButton:hover {
    transform:scale(1.2,1.2);
}


/*Instructions*/
/*.wrapper{
	display:Absolute;
	flex-direction: row;
	width: 100%;
	/* height: 800px; */
	/*border-radius: 20px 20px 70px 0px;
}
.topContainer{
	background: linear-gradient(90deg, rgba(14,89,215,1) 18%, rgba(0,159,255,1) 51%, rgba(50,88,233,1) 81%);

	
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
	padding-top: 90px;
	
}*/
.Instructions{
	/* Rectangle 96 */


position: absolute;
width: 1453px;
height: 90px;
left: 20px;
top: 996px;

background: linear-gradient(180deg, #2266BB 0%, rgba(50, 131, 234, 0.92) 48.96%, #2266BB 100%);
border-radius: 14.0304px;
}
.midContainer1{

	text-align: left;
	font-size: 30px;
	margin-bottom: 10px;
	padding-top: 900px;

	width: 100%;
	background-color:white;
	height: 100px;
	border-radius: 20px;
	/*float: left;*/
	font-size: 20px;
	/*overflow: scroll;*/
}
.midContainer2{

	text-align: left;
	font-size: 30px;
	margin-bottom: 10px;
	padding-top: 700px;

	width: 100%;
	background-color:white;
	height: 100px;
	border-radius: 20px;
	/*float: left;*/
	font-size: 20px;
	/*overflow: scroll;*/
}

.Graphs1{
	text-align: center;
	color: #FFFAFA;
}
.Graphs1{
	/* Rectangle 97 */


position: absolute;
width: 1440px;
height: 81px;
left: 0px;
top: 1200px;

background: linear-gradient(180deg, #2266BB 0%, rgba(50, 131, 234, 0.92) 48.96%, #2266BB 100%);
border-radius: 14.0304px;
}

/*canvas*/

.graphs{
	height: 550px;
	background-color:white ;
	position: relative;
	top: 300px;
	margin-left: 10px;
	margin-right: 10px;
}

#canvasCarrier{

	position: absolute;
width: 647.64px;
height: 299.9px;
left: 44px;
top: 1096px;

box-shadow: inset -4px -4.78px 4.77922px #3283EA;
	
}
#canvasASK{
	
	
	position: absolute;
	width: 647.64px;
	height: 299.9px;
	left: 735.36px;
	top: 1096px;
	
	box-shadow: inset -4px -4.78px 4.77922px #3283EA;
}
#canvasFSK{

	position: absolute;
width: 647.64px;
height: 299.9px;
left: 44px;
top: 1436.1px;

box-shadow: inset -4px -4.78px 4.77922px #3283EA;
	
}
#canvasDemodulated{

	position: absolute;
width: 647.64px;
height: 299.9px;
left: 735.36px;
top: 1436.1px;

box-shadow: inset -4px -4.78px 4.77922px #3283EA;
	
}

      * {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  min-height: 100%;
  /* background: linear-gradient(to bottom, #777, #444); */
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  line-height: 1.4;
  color: #111;
  overflow-x: hidden;
}
@media all and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

body {
  height: 100%;
  min-height: 100%;
}

form {
  max-width: 30em;
  margin: 4rem auto;
  text-align: center;
}

fieldset {
  position: relative;
  border: none;
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
}
fieldset legend {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
}
fieldset label {
  position: absolute;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  width: 1rem;
  left: 7.5rem;
  transform-origin: 50% 7.5rem;
}
fieldset label:hover {
  cursor: pointer;
}
fieldset input {
  position: absolute;
  width: 7rem;
  left: 7rem;
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0;
  transform-origin: 50% 7.5rem;
  opacity: 0;
}
fieldset input:hover {
  cursor: pointer;
}
fieldset #radio-choice-0, fieldset label[for=radio-choice-0] {
  transform: rotateZ(0deg);
}
fieldset #radio-choice-1, fieldset label[for=radio-choice-1] {
  transform: rotateZ(30deg);
}
fieldset #radio-choice-2, fieldset label[for=radio-choice-2] {
  transform: rotateZ(60deg);
}
fieldset #radio-choice-3, fieldset label[for=radio-choice-3] {
  transform: rotateZ(90deg);
}
fieldset #radio-choice-4, fieldset label[for=radio-choice-4] {
  transform: rotateZ(120deg);
}
fieldset #radio-choice-5, fieldset label[for=radio-choice-5] {
  transform: rotateZ(150deg);
}
fieldset #radio-choice-6, fieldset label[for=radio-choice-6] {
  transform: rotateZ(180deg);
}
fieldset #radio-choice-7, fieldset label[for=radio-choice-7] {
  transform: rotateZ(210deg);
}
fieldset #radio-choice-8, fieldset label[for=radio-choice-8] {
  transform: rotateZ(240deg);
}
fieldset #radio-choice-9, fieldset label[for=radio-choice-9] {
  transform: rotateZ(270deg);
}
fieldset #radio-choice-10, fieldset label[for=radio-choice-10] {
  transform: rotateZ(300deg);
}
fieldset input[type=radio]:checked + label {
  color: #2f5;
  text-shadow: 0px 0px 4px #2f5;
}

input[type=radio]:checked#radio-choice-1 ~ .dial {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#radio-choice-1 ~ .dial::before {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#radio-choice-1 ~ .dial::after {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#radio-choice-2 ~ .dial {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#radio-choice-2 ~ .dial::before {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#radio-choice-2 ~ .dial::after {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#radio-choice-3 ~ .dial {
  transform: rotateZ(90deg);
}
input[type=radio]:checked#radio-choice-3 ~ .dial::before {
  transform: rotateZ(90);
}
input[type=radio]:checked#radio-choice-3 ~ .dial::after {
  transform: rotateZ(90);
}
input[type=radio]:checked#radio-choice-4 ~ .dial {
  transform: rotateZ(120deg);
}
input[type=radio]:checked#radio-choice-4 ~ .dial::before {
  transform: rotateZ(120);
}
input[type=radio]:checked#radio-choice-4 ~ .dial::after {
  transform: rotateZ(120);
}
input[type=radio]:checked#radio-choice-5 ~ .dial {
  transform: rotateZ(150deg);
}
input[type=radio]:checked#radio-choice-5 ~ .dial::before {
  transform: rotateZ(150);
}
input[type=radio]:checked#radio-choice-5 ~ .dial::after {
  transform: rotateZ(150);
}
input[type=radio]:checked#radio-choice-6 ~ .dial {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#radio-choice-6 ~ .dial::before {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#radio-choice-6 ~ .dial::after {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#radio-choice-7 ~ .dial {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#radio-choice-7 ~ .dial::before {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#radio-choice-7 ~ .dial::after {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#radio-choice-8 ~ .dial {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#radio-choice-8 ~ .dial::before {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#radio-choice-8 ~ .dial::after {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#radio-choice-9 ~ .dial {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#radio-choice-9 ~ .dial::before {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#radio-choice-9 ~ .dial::after {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#radio-choice-10 ~ .dial {
  transform: rotateZ(300deg);
}
input[type=radio]:checked#radio-choice-10 ~ .dial::before {
  transform: rotateZ(300deg);
}
input[type=radio]:checked#radio-choice-10 ~ .dial::after {
  transform: rotateZ(300deg);
}

/* Frequency */
fieldset #freq-choice-0, fieldset label[for=freq-choice-0] {
  transform: rotateZ(0deg);
}
fieldset #freq-choice-1, fieldset label[for=freq-choice-1] {
  transform: rotateZ(30deg);
}
fieldset #freq-choice-2, fieldset label[for=freq-choice-2] {
  transform: rotateZ(60deg);
}
fieldset #freq-choice-3, fieldset label[for=freq-choice-3] {
  transform: rotateZ(90deg);
}
fieldset #freq-choice-4, fieldset label[for=freq-choice-4] {
  transform: rotateZ(120deg);
}
fieldset #freq-choice-5, fieldset label[for=freq-choice-5] {
  transform: rotateZ(150deg);
}
fieldset #freq-choice-6, fieldset label[for=freq-choice-6] {
  transform: rotateZ(180deg);
}
fieldset #freq-choice-7, fieldset label[for=freq-choice-7] {
  transform: rotateZ(210deg);
}
fieldset #freq-choice-8, fieldset label[for=freq-choice-8] {
  transform: rotateZ(240deg);
}
fieldset #freq-choice-9, fieldset label[for=freq-choice-9] {
  transform: rotateZ(270deg);
}
fieldset #freq-choice-10, fieldset label[for=freq-choice-10] {
  transform: rotateZ(300deg);
}
input[type=radio]:checked#freq-choice-1 ~ .dial {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#freq-choice-1 ~ .dial::before {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#freq-choice-1 ~ .dial::after {
  transform: rotateZ(30deg);
}
input[type=radio]:checked#freq-choice-2 ~ .dial {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#freq-choice-2 ~ .dial::before {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#freq-choice-2 ~ .dial::after {
  transform: rotateZ(60deg);
}
input[type=radio]:checked#freq-choice-3 ~ .dial {
  transform: rotateZ(90deg);
}
input[type=radio]:checked#freq-choice-3 ~ .dial::before {
  transform: rotateZ(90);
}
input[type=radio]:checked#freq-choice-3 ~ .dial::after {
  transform: rotateZ(90);
}
input[type=radio]:checked#freq-choice-4 ~ .dial {
  transform: rotateZ(120deg);
}
input[type=radio]:checked#freq-choice-4 ~ .dial::before {
  transform: rotateZ(120);
}
input[type=radio]:checked#freq-choice-4 ~ .dial::after {
  transform: rotateZ(120);
}
input[type=radio]:checked#freq-choice-5 ~ .dial {
  transform: rotateZ(150deg);
}
input[type=radio]:checked#freq-choice-5 ~ .dial::before {
  transform: rotateZ(150);
}
input[type=radio]:checked#freq-choice-5 ~ .dial::after {
  transform: rotateZ(150);
}
input[type=radio]:checked#freq-choice-6 ~ .dial {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#freq-choice-6 ~ .dial::before {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#freq-choice-6 ~ .dial::after {
  transform: rotateZ(180deg);
}
input[type=radio]:checked#freq-choice-7 ~ .dial {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#freq-choice-7 ~ .dial::before {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#freq-choice-7 ~ .dial::after {
  transform: rotateZ(210deg);
}
input[type=radio]:checked#freq-choice-8 ~ .dial {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#freq-choice-8 ~ .dial::before {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#freq-choice-8 ~ .dial::after {
  transform: rotateZ(240deg);
}
input[type=radio]:checked#freq-choice-9 ~ .dial {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#freq-choice-9 ~ .dial::before {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#freq-choice-9 ~ .dial::after {
  transform: rotateZ(270deg);
}
input[type=radio]:checked#freq-choice-10 ~ .dial {
  transform: rotateZ(300deg);
}
input[type=radio]:checked#freq-choice-10 ~ .dial::before {
  transform: rotateZ(300deg);
}
input[type=radio]:checked#freq-choice-10 ~ .dial::after {
  transform: rotateZ(300deg);
}

.dial {
  position: relative;
  text-align: center;
  line-height: 0;
  font-size: 65%;
  color: #082;
  text-shadow: 0px 0px 7px #2f5;
  display: block;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  background: radial-gradient(#272727 30%, #333 50%, #222 65%, #111 90%, black 98%);
  margin: 3rem auto;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}
.dial::before {
  position: absolute;
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 80%, rgba(15, 15, 15, 0.4) 40%, rgba(15, 15, 15, 0.1) 70%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease-in-out;
}
.dial::after {
  position: absolute;
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 25%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  transition: transform 0.3s ease-in-out;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
